$font-default:16px;
$font-middle:18px;
$font-big:24px;
$font-large:30px;
$font-small:14px;
$font-mini:12px;

$body-bg: #ecf4f7; 
$content-bg: #fff; 
$border-bg: #ebebeb;

$default-text: #666; 
$common-text: #999;  
$stress-text:#333; 
$mute-text:#00b4b4;
$black-text:#000;
$grayish-text:#ccc;

$label-text:#fff; 

$color-b4: #e6eff4;